/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  color: rgba(25, 28, 31, 1);
  font-family: Ubuntu, Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-hover: rgba(57, 125, 255, 1);
  --primary: rgba(42, 108, 234, 1);
  --primary-disabled: rgba(171, 202, 230, 1);
  --green-success: rgba(37, 205, 130, 1);
  --dangerous: rgba(241, 54, 54, 1);
}

.headline-1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  text-align: left;
}

.headline-2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
}

.headline-3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

.headline-4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.headline-5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.headline-6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.caption-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.12em;
  text-align: left;
}

.body-18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.body-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.body-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.body-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.bold {
  font-weight: 600;
}

.text-center{
    text-align: center;
}

.color-white {
  color: rgba(255, 255, 255, 1);
}

.button {
  @extend .headline-6;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: white;

  &-primary {
    background-color: rgba(42, 108, 234, 1);
    color: white;
  }

  &-primary:hover {
    background-color: rgba(57, 125, 255, 1);
  }

  &-white {
    background-color: rgba(236, 239, 242, 1);
    border: 1px rgba(194, 200, 205, 1);
  }

  &-white:hover {
    background-color: rgba(194, 200, 205, 1);
    border: 1px  rgba(194, 200, 205, 1);
  }
}


.mt-6{
    margin-top: 60px;
}

.mt-4{
    margin-top: 40px;
}

.mt-2{
    margin-top: 20px;
}


.mb-6{
  margin-bottom: 60px;
}

.mb-4{
  margin-bottom: 40px;
}

.mb-2{
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container-child{
  max-width: 1300px;
}

@media screen and (max-width: 1600px) {
  .container {
    padding: 20px;
  }
}

body.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .headline-1{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }
  
  .headline-3{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .body-18{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
  
  .mt-4{
    margin-top: 20px;
  }

  .mb-4{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .headline-1, .headline-2{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }

}